<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quartz.mapper.MetricStandardMapper">

	<resultMap type="MetricStandard" id="MetricStandardResult">
		<id     property="id"               column="id" />
		<result property="metricCode"       column="metric_code" />
		<result property="metricName"       column="metric_name" />
		<result property="qualityLevel"     column="quality_level" />
		<result property="relation"         column="relation" />
		<result property="upperBound"       column="upper_bound" />
		<result property="lowerBound"       column="lower_bound" />
	</resultMap>
	
	<sql id="selectMetricStandardVo">
        SELECT ms.id, ms.metric_code, pm.metric_name, ms.quality_level, ms.relation, ms.upper_bound, ms.lower_bound
		FROM metric_standard ms
		LEFT JOIN pollution_metric pm ON ms.metric_code = pm.metric_code
    </sql>
    
    <sql id="selectMetricStandardCondition">
        <where>
            <if test="metricStandard != null and metricStandard.metricCode != null and metricStandard.metricCode != ''">
                AND metric_code = #{metricStandard.metricCode}
            </if>
            <if test="metricStandard != null and metricStandard.qualityLevel != null and metricStandard.qualityLevel != ''">
                AND quality_level = #{metricStandard.qualityLevel}
            </if>
        </where>
    </sql>
	
	<insert id="insertMetricStandard" parameterType="MetricStandard">
		INSERT INTO metric_standard(metric_code, quality_level, relation, upper_bound, lower_bound)
		VALUES (#{metricCode}, #{qualityLevel}, #{relation}, #{upperBound}, #{lowerBound})
	</insert>
	
	<update id="updateMetricStandard" parameterType="MetricStandard">
		UPDATE metric_standard
		<set>
			quality_level = #{qualityLevel},
			relation = #{relation},
			upper_bound = #{upperBound},
			lower_bound = #{lowerBound}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectMetricStandardList" resultMap="MetricStandardResult">
		<include refid="selectMetricStandardVo"/>
		ORDER BY metric_code, quality_level
	</select>
	
	<select id="selectMetricStandardListByMetricCode" parameterType="String" resultMap="MetricStandardResult">
		<include refid="selectMetricStandardVo"/>
		WHERE metric_code = #{metricCode}
		ORDER BY quality_level
	</select>
	
	<select id="selectMetricStandardListByMetricCodes" parameterType="java.util.List" resultMap="MetricStandardResult">
		<include refid="selectMetricStandardVo"/>
		WHERE metric_code IN
		<foreach collection="list" item="metricCode" open="(" separator="," close=")">
			#{metricCode}
		</foreach>
		ORDER BY metric_code, quality_level DESC
	</select>
	
	<select id="selectMetricStandardListByCondition" parameterType="MetricStandard" resultMap="MetricStandardResult">
        <include refid="selectMetricStandardVo"/>
        <include refid="selectMetricStandardCondition"/>
        ORDER BY metric_code, quality_level
    </select>
    
    <select id="selectMetricStandardListByConditionPager" resultMap="MetricStandardResult">
        <include refid="selectMetricStandardVo"/>
        <include refid="selectMetricStandardCondition"/>
        ORDER BY metric_code, quality_level
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="selectMetricStandardCount" parameterType="MetricStandard" resultType="int">
        SELECT COUNT(*) FROM metric_standard ms
        LEFT JOIN pollution_metric pm ON ms.metric_code = pm.metric_code
        <include refid="selectMetricStandardCondition"/>
    </select>
	
	<delete id="deleteMetricStandardById" parameterType="Long">
		DELETE FROM metric_standard WHERE id = #{id}
	</delete>

</mapper>